.normal-text {
	font-size: 100% !important;
	font-weight: 400 !important;
}

.btn-select {
	margin-bottom: 5px;
}
#navbar-header {
	background: white;
}
.navbar-dark .navbar-toggler, .btn-dark, .btn-dark:hover {
	color: #fff;
}
.navbar-light .navbar-toggler, .btn-light, .btn-light:hover {
	color: #333;
}
.biaya div {
	margin-bottom: 5px;
}
.btn-clean.disabled,
.btn-clean[disabled],
fieldset[disabled] .btn-clean,
.btn-clean.disabled:hover,
.btn-clean[disabled]:hover,
fieldset[disabled] .btn-clean:hover,
.btn-clean.disabled:focus,
.btn-clean[disabled]:focus,
fieldset[disabled] .btn-clean:focus,
.btn-clean.disabled.focus,
.btn-clean[disabled].focus,
fieldset[disabled] .btn-clean.focus,
.btn-clean.disabled:active,
.btn-clean[disabled]:active,
fieldset[disabled] .btn-clean:active,
.btn-clean.disabled.active,
.btn-clean[disabled].active,
fieldset[disabled] .btn-clean.active {
	background-color: transparent;
	border-color: transparent;
	border-bottom-width: 2px;
	border-bottom-color: black;
	border-top-width: 2px;
	border-top-color: black;
	color: black;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 0;
}
.berijarakbawah {
	margin-bottom: 10px;
}

/**
 * PACE .JS
 *
 */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #fff;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #fff, 0 0 5px #fff;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  border: solid 2px transparent;
  border-top-color: #fefefe;
  border-left-color: #fefefe;
  border-radius: 50%;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}







@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?uwylwo');
	src:  url('../fonts/icomoon.eot?uwylwo#iefix') format('embedded-opentype'),
	url('../fonts/icomoon.ttf?uwylwo') format('truetype'),
	url('../fonts/icomoon.woff?uwylwo') format('woff'),
	url('../fonts/icomoon.svg?uwylwo#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
	content: "\e905";
}
.icon-delete:before {
	content: "\e9ac";
}
.icon-plus:before {
	content: "\ea0a";
}
.icon-min:before {
	content: "\ea0b";
}
.icon-remove:before {
	content: "\ea0f";
}
.icon-ok:before {
	content: "\ea10";
}

.gambar-uploaded {
	margin: 20px 0;
}

/* TYPEAHEAD */

.input-group .Typeahead-input:not(:first-child) {
	border-bottom-left-radius: 0 !important;
	border-top-left-radius: 0 !important;
}
.Typeahead-input {
	float: none !important;
	border-radius: .25rem !important;
}
.tt-select {
	cursor: pointer;
	cursor: hand;
}