@import url(bootstrap.min.css);
html { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.tengahkan {
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}
.formlogin  {
	width: 320px;
    background: rgba(255,255,255,.5);
    padding: 10px 20px 20px 20px;
}
