
body {
	background: #ededed url('../img/strip.png');
	margin-top: 56px;
}
.breadcrumb {
	border-radius: 0;
	background: #fff;
	border-bottom: 1px solid #E3E8EC;
}

.app-body {
	display: flex;
	flex-grow: 1;
	flex-direction: row;
	overflow-x: hidden;
}
.app-body .main {
	flex: 1;
}
.app-body .sidebar {
	flex: 0 0 220px;
	order: -1;
}
.app-body .aside-menu {
	flex: 0 0 250px;
}
.sidebar-hidden .sidebar {
	margin-left: -220px;
}

.sidebar-fixed .sidebar {
	position: fixed;
	height: 100%;
}
.sidebar-fixed .sidebar .sidebar-nav {
	height: calc(100vh - 56px);
}

.sidebar-fixed .main {
	margin-left: 220px;
}

.sidebar-fixed.sidebar-hidden .main{
	margin-left: 0;
}

.sidebar {
	padding: 0;
	color: #fff;
	background: #444D58;
}
.sidebar .sidebar-close {
	position: absolute;
	right: 0;
	display: none;
	padding: 0 1rem;
	font-size: 24px;
	font-weight: 800;
	line-height: 60px;
	color: #fff;
	background: 0;
	border: 0;
	opacity: .8;
}
.sidebar .sidebar-close:hover {
	opacity: 1;
}
.sidebar .sidebar-nav {
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	width: 220px;
}
.sidebar .sidebar-nav::-webkit-scrollbar {
	position: absolute;
	width: 10px;
	margin-left: -10px;
	-webkit-appearance: none;
}
.sidebar .sidebar-nav::-webkit-scrollbar-track {
	background-color: #4f5a66;
	border-right: 1px solid #39404a;
	border-left: 1px solid #39404a;
}
.sidebar .sidebar-nav::-webkit-scrollbar-thumb {
	height: 50px;
	background-color: #2e343b;
	background-clip: content-box;
	border-color: transparent;
	border-style: solid;
	border-width: 1px 2px;
}
.sidebar .nav {
	width: 220px;
	flex-direction: column !important;
}
.sidebar .nav .nav-title {
	padding: 1rem 1.25rem;
	font-size: 11px;
	font-weight: 600;
	color: #E3E8EC;
	text-transform: uppercase;
}
.sidebar .nav .divider {
	height: 10px;
}
.sidebar .nav .nav-item {
	position: relative;
	margin: 0;
	transition: background .3s ease-in-out;
}
.sidebar .nav .nav-item ul {
	max-height: 0;
	padding: 0;
	margin: 0;
	overflow-y: hidden;
	transition: max-height .3s ease-in-out;
}
.sidebar .nav .nav-item ul li {
	padding: 0;
	list-style: none;
}
.sidebar .nav .nav-item .nav-link {
	display: block;
	padding: 1rem 1.25rem;
	color: #fff;
	text-decoration: none;
	background: transparent;
}
.sidebar .nav .nav-item .nav-link:hover {
	color: #fff !important;
	background: #20a8d8 !important;
}
.sidebar .nav .nav-item .nav-link:hover i {
	color: #fff !important;
}


.sidebar .nav .nav-item .nav-link .badge {
	float: right;
	margin-top: 2px;
}


.sidebar,
.main,
.aside-menu {
	transition-duration: 0.25s, 0.25s;
	transition-property: margin-left, margin-right; }