// scss-docs-start import-stack
// Configuration
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/utilities";

// Layout & components
@import "../../../node_modules/bootstrap/scss/root";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/containers";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/tables";
@import "../../../node_modules/bootstrap/scss/forms";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/transitions";
@import "../../../node_modules/bootstrap/scss/dropdown";
@import "../../../node_modules/bootstrap/scss/button-group";
@import "../../../node_modules/bootstrap/scss/nav";
@import "../../../node_modules/bootstrap/scss/navbar";
@import "../../../node_modules/bootstrap/scss/card";
@import "../../../node_modules/bootstrap/scss/breadcrumb";
@import "../../../node_modules/bootstrap/scss/pagination";
@import "../../../node_modules/bootstrap/scss/badge";
@import "../../../node_modules/bootstrap/scss/alert";
// @import "../../../node_modules/bootstrap/scss/progress";
@import "../../../node_modules/bootstrap/scss/list-group";
@import "../../../node_modules/bootstrap/scss/close";
@import "../../../node_modules/bootstrap/scss/toasts";
@import "../../../node_modules/bootstrap/scss/modal";
@import "../../../node_modules/bootstrap/scss/tooltip";
@import "../../../node_modules/bootstrap/scss/popover";
// @import "../../../node_modules/bootstrap/scss/carousel";
// @import "../../../node_modules/bootstrap/scss/spinners";

// Helpers
@import "../../../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../../../node_modules/bootstrap/scss/utilities/api";
// scss-docs-end import-stack

body,
.breadcrumb {
    background-color: #eee;
}

.bg-paid {
    background: rgba(52, 180, 113, .1)
}

.bg-unpaid {
    background: rgba(249, 103, 108, .1)
}

.bg-credit {
    background: rgba(240, 173, 78, .1)
}

.mainnav {
    z-index: 1030 !important;
}

.logo svg {
    width: 50px;
    height: auto
}

.timeliner {
    font-size: 0;
}

.timeliner li {
    width: 40px;
}

.timeliner li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ddd;
    bottom: 19px;
}

.timeliner li.start:before {
    width: 50%;
    left: 50%;
}

.timeliner li.end:before {
    width: 50%;
    right: 50%;
}

.timeliner li:after {
    content: "";
    width: 10px;
    height: 10px;
    background: #ddd;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    left: calc(50% - (5px));
}

.timeliner .icon {
    font-size: 25px !important;
    margin-bottom: 5px;
    color: #ddd;
}

.timeliner span {
    font-size: 13px !important;
}

.timeliner li.full {
    color: #28a745 !important;
}

.timeliner li.full:before,
.timeliner li.full:after {
    background-color: #28a745 !important;
}

.timeliner li.full .icon {
    color: #28a745 !important;
}

.timeliner li.half {
    color: #ffc107 !important;
}

.timeliner li.half:before,
.timeliner li.half:after {
    background-color: #ffc107 !important;
}

.timeliner li.half .icon {
    color: #ffc107 !important;
}

.dropdown-menu.notify-drop {
    min-width: 330px;
    min-height: 360px;
    max-height: 360px;
}

.dropdown-menu.notify-drop .drop-content {
    min-height: 280px;
    max-height: 280px;
    overflow-y: scroll;
}

#listJuragan {
    z-index: 10000;
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: scroll;
}

#listJuragan a:hover {
    background: rgba(255, 255, 255, .5);
    text-decoration: none;
    color: white !important;
}

.sidebarcollapse,
.notifCollapse {
    top: 0;
    height: 100vh;
    transition: all 0.4s ease;
    display: block;
    z-index: 10000;
}

.sidebarcollapse.collapsing,
.notifCollapse.collapsing {
    height: auto !important;
    transition: all 0.2s ease;
}

.sidebarcollapse.show {
    left: 0;
}

.sidebarcollapse {
    left: -250px;
    width: 250px;
}

.sidebarcollapse.collapsing {
    margin-right: 50%;
    left: -250px;
}

.notifCollapse {
    right: -300px;
    width: 300px;
    overflow: auto;
}

.notifCollapse.collapsing {
    margin-left: 50%;
    right: -300px;
}

.notifCollapse.show {
    right: 0;
}

@media (max-width: 767.98px) {
    .navbar-nav-scroll {
        width: 100%
    }
}

.mt-n5 {
    margin-top: -3.60em;
}

.autocomplete-suggestions {
    border: 1px solid #ced4da;
    margin-top: 10px;
    background: #FFF;
    overflow: auto;
    border-radius: .25rem
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

.mycustom input[type="search"] {
    border-radius: .25rem !important;
}

.mycustom .btn {
    position: absolute;
    right: 4px;
    top: 4px;
    bottom: 4px;
    z-index: 9;
    border-radius: .25rem !important;
    padding: 0 15px
}

.keterangan .more-text {
    display: none;
}